<div class="container mt-5">
  <!-- Form -->
  <div class="row">
    <div class="col-6 m-auto">
      <div class="card mb-5">
        <div class="card-body">
          <form (ngSubmit)="addTodo()" #form="ngForm">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" [(ngModel)]="todo.title" name="title">
            </div>
            <div class="form-group">
              <label for="text">Text</label>
              <input type="text" class="form-control" id="text" [(ngModel)]="todo.text" name="text">
            </div>
            <button class="btn btn-primary" [disabled]="!todo.text || !todo.title">Add task</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Alert -->
  <div class="alert alert-info" *ngIf="!todos.length">Empty list</div>
  <div class="row">
    <!-- Generate todo cards -->
    <div class="col-4" *ngFor="let task of todos; trackBy:identify">
      <div class="card mt-5" [ngClass]="{'text-white bg-success': task.complete}">
        <div class="card-body">
          <h5 class="card-title">{{ task.title }}</h5>
          <p class="card-text">{{ task.text }}</p>
          <button class="btn"
                  [ngClass]="{'btn-success': !task.complete, 'btn-primary': task.complete}"
                  (click)="task.complete = !task.complete;"
          >{{ task.complete ? 'Incomplete' : 'Complete' }} task
          </button>
          <button class="btn btn-danger" (click)="deleteTask(task.id)">Delete task</button>
        </div>
      </div>
    </div>
  </div>
</div>
